<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Registro Poke2</title>
</head>
<body>
    <div class="card border-primary mb-3" style="max-width: 180rem;">
        <div class="card-header">Poke2</div>
        <div class="card-body">
            <form action="inicio" method="POST">
                {% csrf_token %}
                <fieldset>
                    <label for="nom">Nombre:</label>
                    <input type="text" name="nom" id="nom">
                </fieldset>
                <fieldset>
                    <label for="edad">Edad:</label>
                    <input type="text" name="edad" id="edad">
                </fieldset>
                <fieldset>
                    <label for="mail">Email:</label>
                    <input type="text" name="mail" id="mail">
                </fieldset>
                <button class="btn">Login</button>
            </form>
        </div>
    </div>
</body>
</html>